<!DOCTYPE html>
<html lang="<$= locale $>" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Personality Predictor</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/icon.ico" type="image/x-icon">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/jquery1.js"></script>
    <script src="js/bootstrap.min1.js"></script>
    <script src="js/main.js"></script>
    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <script>
    </script>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="images/plogo.png" class="logo navbar-brand topnav" />
                
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                   <li>
                        <a href="about">About</a>
                    </li>
                    <li>
                        <a href="contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
              <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message" id="intro-mess">
                        <h1>Personality Predictor</h1>
                        <h3>Social Media Posts May Be Indicators of Personality, Potential Health Risks, and Cultural Differences</h3>
                        <p id="fbname"></p>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>

                                <button type="submit" class="btn btn-default btn-lg btn-fb" id="fbcheck"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></button>

                            </li>
                            <li>
                                <form>
                                <button type="submit" class="btn btn-default btn-lg btn-tw"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></button>
                                </form>
                            </li>
                            <li>
                                <button type="submit" class="btn btn-default btn-lg btn-custom" onclick="customtext()"><i class="fa fa-file-text fa-fw"></i> <span class="network-name">Custom Text</span></button>
                            </li>
                        </ul>
                        <div id="Custom-text" style="display: none;">
                            <form id="custom-from">
                            <textarea rows="5" id="custom-text-area"></textarea>
                            <button type="submit" class="btn btn-default btn-lg btn-submit" id="custom-text-button"><span class="network-name">Start</span></button>
                             <button type="button" class="btn btn-default btn-lg btn-submit" onclick="customtextfb()"><span class="network-name">Cancel</span></button>
                            </form>
                        </div>
                        <div class="loading" style="display: none">
                        <div class="loading--icon">
                            <img src="images/load.gif" width="100px" alt="">
                        </div>
                        </div>
                         <div class="error" style="display: none">
                        <p class="error--message"><$= __("message-error") $></p>
                        </div>
                    </div>
                <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">Copyright &copy; Personality Predictor 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->


    <!-- Footer -->
    
    <!-- jQuery -->
  

</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-url-parser/2.3.1/purl.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/5.0.2/markdown-it.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>

<script type="text/javascript" src="js/vendors/q.js"></script>
<script type="text/javascript" src="js/components/q_util.js"></script>
<script type="text/javascript" src="js/components/personality-text-summary.standalone.js"></script>
<script type="text/javascript" src="js/components/dictionary.standalone.js"></script>
<script type="text/javascript" src="js/components/personality-behaviors.js"></script>
<script type="text/javascript" src="js/components/personality-insights-trait-tooltips.standalone.js"></script>
<script type="text/javascript" src="js/components/personality-trait-descriptions.js"></script>
<script type="text/javascript" src="js/sunburst.js"></script>

<script type="text/javascript" src="js/demo.js"></script>

<script type="text/javascript">
    var TWITTER_USER = <$- JSON.stringify(twitterUser) $>;
    var GENERIC_REQUEST_ERROR = '<$= __('error-request') $>';
    var OUTPUT_LANG = '<$= locale $>';
</script>
</html>
